<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row">
            <%= link_to "Apply to Etchings 2017", etchings_app_url, data: { turbolinks: false } %>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">

          <div class="row">
            <h2 >
              Programs for Composers:
            </h2>
            <br />
            <h3 class="blue-underline ">
              Performance Program
            </h3>

            <ul>
              <li>
                - Coached rehearsals of your work 
              </li>
              <li>
                - Live performance of your work on Etchings Festival concert program 
              </li>
              <li>
                - Recording of your work in performance at Etchings 
              </li>
              <li>
                - Workshops with members ECCE 
              </li>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>
            <br />
            <h3 class="blue-underline ">
              Study Program
            </h3>

            <ul>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Reading session of your work with ECCE
              </li>
              <li>
                - Recording of session performance with ECCE
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>

            <br />
            <h3 class="blue-underline ">
              Collaborative Program
            </h3>

            <ul>
              <li>
                - Coached rehearsals of your work with Colin Gee and Dance Fellows
              </li>
              <li>
                - Live performance of your collaborative work with Etchings Performance Artist Program
              </li>
              <li>
                - Recorded documentation of your work (most likely video of live performance)
              </li>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Workshops with members ECCE
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>
          </div>

        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <hr style="border-color: rgb(93, 93, 94);"/>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <div class="row text-left">
             <p>
              Those selected for our Performance Program will have the option of either submitting an already written work for performance or composing a new work for the festival. 
            </p>
          </div>
          <br />
          <div class="row text-left">
            <p>
              Those who select to be involved in our Collaborative Program will be connected to a choreography fellow as soon as applications are secured (generally late February). Choreography fellows will develop choreography for the Collaborative Program premieres under the supervision of Director Colin Gee both before and during the festival. 
            </p>
          </div>
          <div class="row text-left">
             <p>
              Notification of acceptance will occur in early March. Score and parts are due June 2nd. 
            </p>
          </div>
          <br />
          <div class="row"> 
            <a href="/etchings_composers_faculty">
              <p>
                Learn about our compositional faculty: Raphäel Cendo, Philippe Hurel, and John Aylward
              </p>
            </a>
          </div>
          <br />
          <br />
          <div class="row">
            <h2>
              Festival Participant Fees:
            </h2>
          </div>
          <br />
          <div class="row">
            Room and Board for 8 days in Auvillar: $700
          </div>
          <div class="row">
            Lessons, Masterclasses, Seminars and Workshops with Festival Composition Faculty: $700
          </div>
          <div class="row">
            Rehearsals, Dress Rehearsal, and Concert of your work: $600
          </div>
          <div class="row">
            Recording: $100
          </div>
          <br />
          <div class="row">
            <h3>
              Total Festival Participant Fees (all inclusive):
            </h3>
            <h3>
              Performance Program and Collaborative Program: $2100.
            </h3>
            <h3>
              Study Program: $1400
            </h3>
          </div>
          <br />
          <div class="row">
            <p>
              Need-based funding for those admitted may be available. If in need of financial assistance, please make a note of your situation in your online application.
            </p>
          </div>
        </div>
      </div>

          <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row">
            <%= link_to "Apply to Etchings 2017", etchings_app_url, data: { turbolinks: false } %>
          </div>
        </div>
      </div>
      <br />

          <br />
          <br />
          <br />
    </div>
  </div>
</div>