<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017 Dance Faculty
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <%= link_to "Apply to Etchings 2017", etchings_2017_url, data: { turbolinks: false } %>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Colin Gee
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/colingee.jpg"), style: "float: left; width: 200px; padding: 0 15px 15px 0"%>

            Trained as an actor at the Jacques Lecoq School in Paris and the Dell’ Arte School of Physical Theater, Colin Gee was a clown for Cirque du Soleil, the founding Whitney Live artist-in-residence at the Whitney Museum of American Art, and a recipient of a 2012 Rome Prize. He frequently collaborates with composer Erin Gee (his sister) and their recent works include: SLEEP (2009, Zürich Opera House), Mouthpiece XIII, Mathilde of Loci, Part I (2009, American Composer's Orchestra, Carnegie Hall), Mouthpiece XX (2014, Vienna Konzerthaus) with the Vienna Radio Symphony Orchestra, and Mouthpiece VI+I (2014, Chicago) with Fonema Consort. Recent works have been premiered in New York at: PS122, The Chocolate Factory, Joyce Theater, Whitney Museum, and many others. He has conducted workshops at locations internationally including: Columbia University, Lincoln Center Directors Lab, London International School of Performing Arts, Dell Arte' School of Physical Theater, Teatro San Gines and University of Arts and Communication, Santiago de Chile, University of Iowa, North Carolina School of the Arts, University of California San Diego, and Televisa Studios, Mexico City.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>