<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017 Compositional Faculty
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <%= link_to "Apply to Etchings 2017", etchings_2017_url, data: { turbolinks: false } %>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Raphaël Cendo
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/cendo.jpg"), style: "float: left; width: 300px; padding: 0 15px 15px 0"%>

            A pianist by training, Raphaël Cendo performed with a hardcore rap group before institutionalising his training at the École Normale de Musdique and then at the Paris Conservatory (2000-2003). He then completed his apprenticeship, notably with the composition and computer muisc course of Ircam (2005-2006). Influenced by the teaching of Allain Gaussin, Brian Ferneyhough, Fausto Romitelli and Philippe Manoury, but also by spectral musicand by current and traditional music, Raphaël Cendo composes music marked by the æsthetic of sound saturation based on tonecolour.
            <br /> <br />
            His research deals with composition from a single material and explores the limits of instrumental capabilities, particularly the limits of speed. His works are played by performers and ensembles of international renown such as the Ensemble Intercontemporain, the Itinéraire, the Orchestre National de France, and at prestigious festivals: Présences, Musica, Donaueschingen and Ars Musica in Brussels. A laureate of the Pierre Cardin Prize of the Académie des Beaux-arts, Cendo was in residence at the Villa Medici in 2009-2010. His works include Scratch data (2002), Action painting (2005), Tract (2007), Introduction aux ténèbres(2009), Furia (2009).
            <br /> <br />
            In 2007 Raphaël Cendo was awarded the Prix Espoir of the Francis and Mica Salabert Foundation of for Orchestre Symphonique du Montréal. Since 2008 he teaches composition at Conservatoire de Nanterre. From 2009 to 2011 Raphaël Cendo was resident at the Académie de France in Rome (Villa Médici) and received the Prix Hervé Dugardin of Sacem in 2011.
          </p>

        </div>
      </div>

      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            Philippe Leroux
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/leroux.jpg"), style: "float: left; width: 250px; padding: 0 15px 15px 0"%>

            Philippe Leroux was born in Boulogne Billancourt (France) in 1959.
            <br /> <br />
            In 1978 he entered the Paris Conservatory (Conservatoire National Supérieur de Musique), studied with Ivo Malec, Claude Ballif, Pierre Schäeffer and Guy Reibel and obtained three first prizes. Meanwhile, he followed classes with Olivier Messiaen, Franco Donatoni, Betsy Jolas, Jean-Claude Eloy and Iannis Xénakis. In 1993 he was selected to enter the Villa Medicis in Rome for two years, where he remained until 1995.
            <br /> <br />
            His compositional output (about seventy works to date) includes symphonic, vocal, electronic, acousmatic and chamber music. His works are the result of various commissionners, with among them the French Ministry of Culture, Radio-France Philharmonic Orchestra, Südwestfunk Baden Baden, IRCAM, Percussions de Strasbourg, Ensemble Intercontemporain, Ensemble Court-Circuit, the Nouvel Ensemble Moderne de Montreal, Avanta Ensemble, Ensemble 2e2m, Ensemble Sillages, Ensemble Orchestral Contemporain, INA-GRM, Sixtrum, Ensemble Ictus, Festival Musica, Ensemble BIT 20, Koussevitsky Foundation, San Francisco Contemporary Music Players, Ensemble Athelas, Orchestre National de Lorraine, Orchestre Philharmonique de Nice, CIRM, INTEGRA, and several other institutions of international standard.
            <br /> <br />
            His music is widely performed in various European festivals and International orchestras such as Donaueschingen, Radio-France Présences (Paris), Agora (Paris), Venice Biennale, Ba th Festival, Festival Musica (Strasbourg), Stockholm ISCM, Barcelona Festival, Musiques en Scènes (Lyon), Festival Manca (Nice), Bergen Festival, Ultima (Oslo) Festival, Tage für Neue Musik (Zürich), BBC Symphony Orchestra (London), Tonhalle Orchester Zürich, BBC Scottish Symphony Orchestra (Glasgow), Philharmonia Orchestra (London), Czech Philharmony, etc…
            <br /> <br />
            He has received many prizes and awards: Prix Hervé Dugardin, Best contemporary musical creation Award 1996 for (d’)ALLER, SACEM Prize, André Caplet and Nadia and Lili Boulanger Prizes from the Academy of Fine Arts (Institut de France), Salabert Prize for his piece Apocalypsis and Arthur Honegger Prize (Fondation de France) for his overhall production. In addition, Philippe Leroux writes articles on contemporary music, gives lectures and teaches composition at Berkeley University (California), Harvard, Grieg Academy (Bergen), Columbia University (New-York), Royal conservatory of Copenhage, Toronto University, Fondation Royaumont, IRCAM, American Conservatoire at Fontainebleau, Paris and Lyon Conservatoires Nationaux Supérieurs, Domaine Forget (Quebec) , Georgia Institute of Technology at Atlanta, Tchaïkovsky Conservatory at Moscow...
            <br /> <br />
            From 2001 to 2006 he was a teacher in composition at IRCAM in the frame of the "Cursus d’Informatique Musicale". In 2005 and 2006 he was professor at McGill University (a Fondation Langlois programme). From 2007 to 2009 he was composer-in-residence at Metz Arsenal and at Orchestre National de Lorraine, then since 2009 to 2011, invited professor at Université de Montréal (UdeM). From september 2011 he is Associate Professor in composition at the Schulich School of Music, McGill University. He is currently composer-in-residence at Ensemble MEITAR in Tel-Aviv.
          </p>

        </div>


      </div>

      <br />
      <br />

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <h3 class="blue-underline">
            John Aylward
          </h3>
          <br />
          <p>
            <!-- <img src="http://www.eccensemble.com/wp-content/uploads/2013/09/Flier-300x175.jpg" style="float: right; margin: 0 0 15px 15px;"/> -->
            <%= image_tag asset_path("etchings-pics/john.jpg"), style: "float: left; width: 200px; padding: 0 15px 15px 0"%>

            John Aylward is a composer, performer and Ecce’s Artistic Director. His music has been praised for its “brilliant energetic rhythmic figures…imaginative sonorities and harmonies that always move, always inflect” and its “zones of suspended motion and otherworldly calm” (American Academy of Arts and Letters). Aylward’s music is frequently performed within the U.S and abroad by numerous leading ensembles and soloists. 
            <br /> <br />
            Aylward has been awarded fellowship from the American Academy of Arts and Letters, the Radcliffe Institute at Harvard University, the Koussevitzky Foundation at the the Library of Congress, the Fulbright Foundation (to Germany) and First Prize from the International Society for Contemporary Music (ISCM) and many other awards and honors. He has also been awarded fellowships and residencies at the MacDowell Colony, Tanglewood, the Aspen Music School, the Atlantic Center for the Arts and the Virginia Center for the Creative Arts. John is Associate Professor of Music Composition at Clark University and lives in Cambridge, Massachusetts. He is published by Composers Edition and is also an Affiliate Composer at Poco Forte music.
          </p>

        </div>
      </div>
      <br /> <br />
      <br /> <br />
    </div>
  </div>
</div>