<div class="container background-white full-height">
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="main-title">
            <span class="blue-underline">
              etchings
            </span>
          </h1>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>