<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017
        </span>
      </h1>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <div class="row">
            <%= link_to "Apply to Etchings 2017", etchings_app_url, data: { turbolinks: false } %>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">



          <div class="row">
            <h2 >
              Programs for Performance Artists:
            </h2>
            <br />
            <p>
              The daily classes include: Movement/Technique, Analysis of Movement, and Improv/Creation of Material. In addition to the three sessions there will be daily meetings, presentations, rehearsals, and performance opportunities. Musicians from the contemporary music program, and anyone who wants to understand body movement and the basics, are welcome to join the morning sessions. Evening gatherings will be a time for participants from both programs to meet and share inspiration.
            </p>
            <br />
            <p>
              Each class, focusing on the relationship between movement and persona, will be divided into three parts: warm-up/technique, movement and context, and, larger phrasing and narration. Inspired by the training of Jacques Lecoq and Etienne Decroux, the classes adapt performance skills based in mask and movement-theatre styles to dance performance forms. All classes will share a core practice, developed in each class through a different theme. The classes are a progressive series that can also be attended individually.
            </p>
            <br />
            <h3 class="blue-underline ">
              Participants will receive:
            </h3>
            <ul>
              <li>
                - Daily lessons
              </li>
              <li>
                - Masterclasses
              </li>
              <li>
                -  Private coachings
              </li>
              <li>
                -  Access to office hours for individual conversation 
              </li>
              <li>
                -  The option to collaborate choreographically on a concert premiere with musicians and composer fellows from the Contemporary Music Program
              </li>
              <li>
                -  Documentation of your work 
              </li>
              <li>
                -  The opportunity to create work in direct relation to the extraordinary village of Auvillar.
              </li>
              <li>
                - Recommendation for fellowship residency at the USA campus of the VCCA (the festival's organizational partner)
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>
            <!-- br /> -->
          <br />
          <!-- <div class="row">
            <h2>
              Festival Participant Fees:
            </h2>
          </div> -->
          <!-- <br /> -->
          <!-- <div class="row"> -->
            <h3>
              Total Festival Participant Fees $1800
            </h3>
          <br />
          <!-- <br /> -->
          <!-- <div class="row"> -->
            <p>
              Need-based funding for those admitted may be available. If in need of financial assistance, please make a note of your situation in your online application.
            </p>
          <!-- </div> -->
        </div>
      <!-- </div> -->



      <br />
      <!-- <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"> -->
          <div class="row">
            <%= link_to "Apply to Etchings 2017", etchings_app_url, data: { turbolinks: false } %>
          </div>
        <!-- </div>
      </div> -->
      <br />

      <br />
      <br />
      <br />
    </div>
  </div>
</div>