<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017
        </span>
      </h1>
      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <div class="row text-left">
            <p>
              Etchings 2017 is proud to have Raphäel Cendo and Philippe Leroux in residence as guest composers this year. 
            </p>
          </div>
          <br />
          <div class="row">
            <p>
              We are also excited to announce the first year of our Performance Artist program with Colin Gee, Guest Choreographer. 
            </p>
          </div>
          <br />
          <div class="row">
            <p>
              This year's program takes place from June 26th  to July 3rd, 2017 in Auvillar, France.
            </p>
          </div>
          <br />
          <div class="row"> 
            <a href="/etchings_composition_info">
              More about 2017 Composition Program and Composers Raphäel Cendo, Philippe Leroux, and John Aylward
            </a>
          </div>
          <div class="row">
            <a href="/etchings_body_movement_info">
              More about our Performance Artist Program and Director Colin Gee
            </a>
          </div>
          <div class="row">
            <a href="/etchings_ensemble">
              More about our ensemble
            </a>
          </div>

          <div class="row">
            <a href="/etchings_app">
              2017 Online Application Information 
            </a>
          </div>
          <br />
          <div class="row">
            Application deadline: February 12th
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>