<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1>
        <span class="blue-underline">
          Etchings 2017
        </span>
      </h1>
      <br />
      <br />
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 text-left">
          <div class="row text-left">
            Etchings 2017 is proud to have Raphäel Cendo and Philippe Leroux in residence as guest composers this year. 
          </div>
          <br />
          <div class="row">
            We are also excited to announce the first year of our Dance program with Colin Gee, Guest Choreographer. 
          </div>
          <br />
          <div class="row">
            This year's program takes place from June 26th  to July 3rd, 2017 in Auvillar, France.
          </div>
          <br />
          <div class="row"> 
            <a href="">
              More about 2017 Composers: Raphäel Cendo, Philippe Hurel, and John Aylward
            </a>
          </div>
          <div class="row">
            <a href="">
              More about our Dance Program and Director Colin Gee
            </a>
          </div>
          <div class="row">
            <a href="">
              More about our ensemble
            </a>
          </div>

          <div class="row">
            <a href="">
              2017 Online Application Information 
            </a>
          </div>
          <br />

          <div class="row">
            Early Application Deadline: January 27th ($40)
          </div>

          <div class="row">
            Final Application deadline: February 3rd ($50)
          </div>
          <br />
          <br />
          <div class="row">
            <h2 >
              Programs for Composers:
            </h2>
            <br />
            <h3 class="blue-underline ">
              Performance Program
            </h3>

            <ul>
              <li>
                - Coached rehearsals of your work 
              </li>
              <li>
                - Live performance of your work on Etchings Festival concert program 
              </li>
              <li>
                - Recording of your work in performance at Etchings 
              </li>
              <li>
                - Workshops with members ECCE 
              </li>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>
            <br />
            <h3 class="blue-underline ">
              Study Program
            </h3>

            <ul>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Reading session of your work with ECCE
              </li>
              <li>
                - Recording of session performance with ECCE
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>

            <br />
            <h3 class="blue-underline ">
              Collaborative Program
            </h3>

            <ul>
              <li>
                - Coached rehearsals of your work with Colin Gee and Dance Fellows
              </li>
              <li>
                - Live performance of your collaborative work with Etchings Dance Program
              </li>
              <li>
                - Recorded documentation of your work (most likely video of live performance)
              </li>
              <li>
                - Lessons with all guest and resident composers 
              </li>
              <li>
                - Masterclasses and seminars with our guest composers 
              </li>
              <li>
                - Workshops with members ECCE
              </li>
              <li>
                - Housing, all breakfasts, lunches and some dinners 
              </li>
              <li>
                - Pick up and drop off from Gare de Valence d'Agen
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>