<div class="container p-b-60px">
  <div class="row text-center">
    <div class="homebackground">
      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12">
        <div class="floating-whiteness">
          <h1>
            ECCE ARTS
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container main-blurb-container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center m-t-35px">
      <p>
        Ecce is a community of culturally and socially engaged creative and performing artists. Core to its mission is collaboration with creative thinkers across disciplines: science, technology and social justice.
      </p>
      <br />
      <p>
        At the heart of our community is a group of our generation’s most accomplished performers who are committed to presenting music, theater and interdisciplinary art in a captivating and visionary way. By engaging science, technology and a full range of artistic media, Ecce seeks to create experiences that inspire new thinking and social change.
      </p>
    </div>
  </div>
</div>
