<div class="container">
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12">
      <h1>Home#index</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12">
      <p>Find me in app/views/home/index.html.erb</p>
    </div>
  </div>
</div>
