<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1 class="inline-block">
        <span class="blue-underline"> 
          Excerpts of Past Events
        </span>
      </h1>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <h2 class="underline" style="font-size: 2.2em">
          Ecce's Composers' Workshop at Le Laboratoire:
        </h2>
      </div>
      <br />
      <div class="row">
        <div style="margin-left: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DBX3Amlswz4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <h2 class="underline" style="font-size: 2.2em">
          Martin Boykan Trio #4 (ECCE Commission)
        </h2>
      </div>
      <br />
      <div class="row">
        <div style="margin-left: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/v5wy9hbVFdM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <h2 class="underline" style="font-size: 2.2em">
          Mark Andre. Asche
        </h2>
      </div>
      <br />
      <div class="row">
        <div style="margin-left: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/fF02SBzgXlc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <h2 class="underline" style="font-size: 2.2em">
          Jason Eckardt. Rendition.
        </h2>
      </div>
      <br />
      <div class="row">
        <div style="margin-left: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9lx_qDGLrTI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="underline">
          <h2 style="font-size: 2.2em">
            John Aylward. Ephemera.
          </h2>
        </div>
      </div>
      <br />
      <div class="row">
        <div style="margin-left: 20px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FK-liHuhstg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>