<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1 class="inline-block">
        <span class="blue-underline"> 
          Press
        </span>
      </h1>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <%= link_to 'Download PDF', home_download_pdf_url, data: { turbolinks: false } %>
    </div>  
  </div>
</div>


<!-- 'data-no-turbolink' => true -->
<!-- data: {'no-turbolink' => true } -->
<!-- :data { :no-turbolink => 'true'} -->