<!-- <div class="container">
  <div class="row">
    admin project index
  </div>
  <div class="row">
    <%= link_to "make new project", new_admin_project_path %>  
  </div>
  <% if @projects.length > 0 %>
    <% @projects.each do |project| %>
      <%= render 'show', project: project %>
    <% end %>
  <% end %>
</div>
 -->

 <div class="container">
  index
</div>