<div class="row project-show-row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="project-show-panel">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-md-4 col-lg-5">
          <% unless project.avatar_url.nil? %>
            <%= image_tag project.avatar_url, class: 'project-img' %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-0 col-md-8 col-lg-7">
          <!-- title -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center-xs">
              <h2>
                <%= project.title %>
              </h2>
            </div>
          </div>
          <!-- sub title -->
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12 text-center-xs">
              <h3>
                <%= project.sub_title %>
              </h3>
            </div>
          </div>
          <!-- description -->
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12 text-center-xs">
              <p>
                <%= simple_format project.description %>
              </p>
            </div>
          </div>
          <!-- give button -->
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12 text-center-xs">
              <!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GL6UYWKDKQN54">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>