<div class="container background-white p-b-60px">
  </br>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <h1 class="inline-block blue-underline">
        Ecce&nbsp;[ech-ey]
      </h1>
      <h2 class="inline-block p-l-8px">
        |
        <i class="italics">
          verb
        </i>
        vb&nbsp;| lo; to see; behold
      </h2>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-2 col-lg-7 col-lg-offset-2 text-left">
      <h3>
        ECCE begins it's 2016-17 season deepening partnerships with some of Boston's and Cambridge's leading cultural institutions.
      </h3>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
      <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right">
          <i class="fa fa-long-arrow-right stretch blue" aria-hidden="true"></i>
        </div>
        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
          <div>
            <p class="italic bold"> 
              Our new collaboration with the Rose Kennedy Greenway
            </p>
          </div>
          <p>
            We begin this season by exploring a new collaboration with one of Boston's greenest and liveliest places. With an event that combines dance, sculpture, music and the spirit of public art, we share the interdisciplinary nature of our mission.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right">
          <i class="fa fa-long-arrow-right stretch blue" aria-hidden="true"></i>
        </div>
        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
          <div>
            <p class="italic bold"> 
              Our continued residency at Le Laboratoire, Cambridge
            </p>
          </div>
          <p>
            Across three events, we explore the dynamic conversation between France and America through the lenses of technology, language and society. This residency is sponsored by the French American Cultural Exchange.
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right">
          <i class="fa fa-long-arrow-right stretch blue" aria-hidden="true"></i>
        </div>
        <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
          <div>
            <p class="italic bold"> 
              Our new residency at the Boston Athenaeum
            </p>
          </div>
          <p>
            Through this new residency we present a series of programs that recognize the historically significant role this civic center has played in Boston. First this fall, a concert celebrating one of American's finest living composers, Yehudi Wyner. Then in the spring, two events that spotlight the Athenaeum as a hub of civic discourse around two of our culture's most pressing topics: conservation and social justice.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="GL6UYWKDKQN54">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div> -->
  <br />
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-lg-12">
      <% @projects.order(:id).each_with_index do |project, idx| %>
        <% if idx % 2 == 0 %>
          <%= render 'show', project: project %>
        <% else %>
          <%= render 'show_right', project: project %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>