$blue: rgb(59, 124, 253);
$white: rgb(255, 255, 255);
$light-grey: rgb(245, 245, 245);
// $dark-grey: rgb(127, 128, 130);
$dark-grey: rgb(93, 93, 94);
$orange: rgb(255, 180, 38);
$black: rgb(48, 48, 48);

.background-white { background: $white; }
.blue { color: $blue; }