@import "colours";

.bio-row {
  border-top: 1px solid $blue;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.ensemble-img {
  margin-right: 10px;
  width: 125px;
  margin-top: 5px;
}

.ensemble-row {
  margin-top: 35px;
  margin-bottom: 55px;
}
