@import "colours";

/* Document level adjustments */
html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

/* Modules will scale with document */
.header {
  font-size: 1.5rem;
}
.footer {
  font-size: 0.75rem;
}
.sidebar {
  font-size: 0.85rem;
}

/* clear defaults */

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

/* Type will scale with modules */
h1 {
  font-size: 3em;
  color: $black;
  padding-bottom: 5px;
}

h2 {
  font-size: 2em;
  color: $dark-grey;
  padding-bottom: 5px;
}

h3 {
  font-size: 1em;
  color: $dark-grey;
  padding-bottom: 5px;
}

h4 {
  font-size: 1em;
  color: $black;
  padding-bottom: 5px;
}

p {
  font-size: 1em;
}