@import "colours";

.navbar-fixed-bottom {
  min-height: 0;
  background-color: $white;
  .navbar-text {
    margin: 5px 15px;
  }
}

#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -82px;
  right: 10px;
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 6px;
  right: 15px;
}