@import "colours";


html,body { height:100%; }

body {
  background-color: $light-grey;
  
  // margin-bottom: 80px;
}

// a {
//   color: inherit;
//   border-bottom: 1px solid transparent;
//   margin-bottom: 2px;
// }

// a:hover {
//   text-decoration: none;
//   color: inherit;
//   border-bottom: 1px solid $blue;
//   margin-bottom: 2px;
//   color: $blue;
// }

a.btn {
  margin-bottom: 3px;
}

.project-show-row {
  padding-top: 50px;
}

.project-show-panel {
  background: white;
  border-top: 1px dotted $blue;
  border-left: none;
  border-bottom: 1px dotted $blue;
  border-right: none;

  border-radius: 2px;
  padding: 12px 15px;
  min-height: 200px
}

/* seriously - how is this now a class in bootstrap? */
.text-center-xs {
  @media (min-width: 769px) {
    text-align: inherit;
  };
  @media (max-width: 768px) {
    text-align: center;
  };
}

.project-img {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
}

.homebackground {
  background-image: asset_url("ecce-background.jpg");
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 130px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -300px;
}

.floating-whiteness {
  background: rgba(255,255,255,.7);
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-blurb-container {
  background: white;
  height: calc(100% - 230px);
}

.projects-container {
  background: white;
  padding-bottom: 50px;
  margin-bottom: 65px;
}

.p-b-60px {
  padding-bottom: 60px;
}

thead {
  background: $orange;
}

ul {
  list-style: none;
  padding: 0;
}

.front-facing-page {
  padding-top: 50px;
  padding-bottom: 100px;
}

.stuff {
  min-height: calc(100% - 80px) !important;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

// .main-title {
//   font-size: 4em;
// }

.orange-link {
  color: $orange
}

.orange-link:hover {
  color: $orange;
}


.blue-link {
  color: $blue
}

.blue-link:hover {
  color: $orange;
}