@import "colours";


body {
  background-color: $light-grey;
  padding-bottom: 80px;
}

.project-show-row {
  padding-top: 50px;
}

.project-show-panel {
  background: white;
  border: 1px solid $blue;
  border-radius: 2px;
  padding: 12px 15px;
  min-height: 200px
}

/* seriously - how is this now a class in bootstrap? */
.text-center-xs {
  @media (min-width: 769px) {
    text-align: inherit;
  };
  @media (max-width: 768px) {
    text-align: center;
  };
}

.project-img {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
}

.homebackground {
  background-image: asset_url("ECCE-background.jpg");
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 130px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: -300px;
}

.floating-whiteness {
  background: rgba(255,255,255,.7);
  padding-top: 15px;
  padding-bottom: 15px;
}
