@import "colours";

.donate-text {
  margin-top: 25px;
  margin-bottom: 10px; 
}

.blue-underline {

  // background: linear-gradient(
  //   to top,
  //   transparent 0.04em,
  //   $blue 0.04em,
  //   $blue 0.08em,
  //   transparent 0.08em
  // );
  // background-position-y: -1px;

  background: linear-gradient(
    to top,
    transparent 0.05em,
    $blue 0.05em,
    $blue 0.09em,
    transparent 0.09em
  );  

  text-shadow:
    -0.01em -0.01em 0 #fff,
    0.01em -0.01em 0 #fff,
    -0.01em 0.02em 0 #fff,
    0.01em 0.02em 0 #fff,

    -0.02em 0.02em 0 #fff,
    0.02em 0.02em 0 #fff,
    -0.01em 0.03em 0 #fff,
    0.01em 0.03em 0 #fff, 

    -0.03em 0.03em 0 #fff,
    0.03em 0.03em 0 #fff,
    -0.04em 0.04em 0 #fff,
    0.04em 0.04em 0 #fff,

    -0.05em 0.05em 0 #fff,
    0.05em 0.05em 0 #fff,

    -0.1em -0.01em 0 #fff,
    0.1em -0.01em 0 #fff,
    -0.1em 0.02em 0 #fff,
    0.1em 0.02em 0 #fff,

    -0.07em -0.01em 0 #fff,
    0.07em -0.01em 0 #fff,
    -0.07em 0.02em 0 #fff,
    0.07em 0.02em 0 #fff,

    -0.08em 0.02em 0 #fff,
    0.08em 0.02em 0 #fff,
    -0.08em 0.03em 0 #fff,
    0.08em 0.03em 0 #fff, 

    -0.09em 0.03em 0 #fff,
    0.09em 0.03em 0 #fff,
    -0.1em 0.03em 0 #fff,
    0.1em 0.03em 0 #fff,

    -0.1em 0.04em 0 #fff,
    0.1em 0.04em 0 #fff,

    -0.11em 0.05em 0 #fff,
    0.11em 0.05em 0 #fff,

    0.11em 0.06em 0 #fff,

    -0.11em 0.06em 0 #fff,
    -0.105em 0.04em 0 #fff,
    -0.11em 0.07em 0 #fff,
    -0.115em 0.075em 0 #fff,
    -0.12em 0.06em 0 #fff,
    -0.125em 0.065em 0 #fff,
}

// .blue-underline-2 {
//   // border-bottom: 2px solid $blue;
//   // padding-bottom: 3px;
//   // padding: 0 15px 0px 15px;
//   // background-color: blue;

//   background: linear-gradient(
//     to bottom,
//     transparent,
//     transparent 97%,
//     $blue 3%,
//     $blue
//   );

//   background-position-y: -6px;

//   text-shadow:
//    -3px -2px 0 white,
//    3px 1px 0 white,
//    -3px -1px 0 white,
//    3px -1px 0 white
// }