<div class="container">
  <div class="row">
    admin ensemble list
  <div class="row">
    <%= link_to "add and ensemble member", new_admin_user_path %>  
  </div>
  <% if !current_admin.god_mode? then @users = @users.where(hidden: false) end %>
  <% @users.each do |user| %>
    <%= render 'show', user: user %>
  <% end %>
</div>
